openapi: 3.1.0
info:
  title: Google Sheets RAG Integration
  description: Interact with multiple Google Sheets to read knowledge base values and trigger RAG refreshes using OAuth2 and Web App integration.
  version: 1.0.0

servers:
  - url: https://sheets.googleapis.com/v4
    description: Google Sheets API server

paths:
  /spreadsheets/1H1srA0s9Z8U0ZBB6Wf6GIcLexG7j0ObLdvLxIdSMkk8/values/{range}:
    get:
      operationId: getSpreadsheetValues
      summary: Retrieve the last populated row or single range.
      parameters:
        - name: range
          in: path
          required: true
          description: A specific sheet range like "Contact!L2:L2" or "Category!D2:D2"
          schema:
            type: string
          example: Category!D2:D2
      security:
        - oauth2:
            - https://www.googleapis.com/auth/spreadsheets.readonly
      responses:
        "200":
          description: Successfully retrieved data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  range:
                    type: string
                  values:
                    type: array
                    items:
                      type: array
                      items:
                        type: string

  /spreadsheets/1H1srA0s9Z8U0ZBB6Wf6GIcLexG7j0ObLdvLxIdSMkk8/values:batchGet:
    get:
      operationId: batchGetCategoryOrContactRanges
      summary: Retrieve row ranges for either article categories or contact info blocks.
      parameters:
        - name: ranges
          in: query
          required: true
          description: Sheet ranges to retrieve, such as article index rows or country-specific contact ranges.
          schema:
            type: array
            items:
              type: string
          example:
            - Category!C2:C75
            - Contact!J2:K65
            - Contact!A28:I39
      security:
        - oauth2:
            - https://www.googleapis.com/auth/spreadsheets.readonly
      responses:
        "200":
          description: Successfully retrieved data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  valueRanges:
                    type: array
                    items:
                      type: object
                      properties:
                        range:
                          type: string
                        values:
                          type: array
                          items:
                            type: array
                            items:
                              type: string

  /spreadsheets/1pp6OXMZ9QgpxhfT1NvZISTdJT8k9jfP6HlBPR9MM2YE/values/RAG_Query!A2?valueInputOption=RAW:
    put:
      operationId: writeRagQuery
      summary: Write a value to the RAG_Query!A2 cell
      description: Writes a user-provided string into cell A2 of the RAG_Query sheet.
      security:
        - oauth2:
            - https://www.googleapis.com/auth/spreadsheets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                values:
                  type: array
                  items:
                    type: array
                    items:
                      type: string
              example:
                values:
                  - - How do I reset my Okta login?
      responses:
        "200":
          description: Successfully wrote the query to the sheet
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedRange:
                    type: string

  /spreadsheets/1pp6OXMZ9QgpxhfT1NvZISTdJT8k9jfP6HlBPR9MM2YE/values/RAG_Results!A2:D4:
    get:
      operationId: readRagResults
      summary: Read results from the RAG_Results!A2:D4 range
      description: Reads the values in cells A2 through D4 on the RAG_Results sheet.
      security:
        - oauth2:
            - https://www.googleapis.com/auth/spreadsheets.readonly
      responses:
        "200":
          description: Successfully retrieved results from the sheet
          content:
            application/json:
              schema:
                type: object
                properties:
                  range:
                    type: string
                  majorDimension:
                    type: string
                  values:
                    type: array
                    items:
                      type: array
                      items:
                        type: string

  /external/rag-refresh:
    get:
      operationId: triggerRagRefresh
      summary: Triggers the RAG App Script to process the most recent query
      description: Calls the deployed Google Apps Script Web App to update top matching results after a query is written to RAG_Query!A2.
      x-openai-isConsequential: false
      x-openai-dataSources:
        - url: https://script.google.com/macros/s/AKfycbzpIoJ93waJKeaLLKaWc1mRolMTtiXGVX_iGC63F-l4cZ8muKVdj7_agn3nY3KpqnK0/exec
      responses:
        "200":
          description: Script executed successfully

components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/spreadsheets: Full access to spreadsheets
            https://www.googleapis.com/auth/spreadsheets.readonly: Read-only access to spreadsheets
  schemas: {}  # ✅ This fixes the error

security:
  - oauth2:
      - https://www.googleapis.com/auth/spreadsheets
